[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MonotonicityTest"]
	path = MonotonicityTest
	url = https://github.com/baolong281/monotonicitytest
